{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash

mkdir -p "${HOME}/.local/share/site-functions"

echo Generating zsh completions for Linux
gh completion -s zsh >"${HOME}/.local/share/site-functions/gh.zsh"
{{ end -}}