---
.oh-my-zsh:
  type: archive
  url: https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz
  extract: true
  refreshPeriod: 168h
.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
  type: archive
  url: "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
  exact: true
  stripComponents: 1
  refreshPeriod: "168h"
.oh-my-zsh/custom/plugins/zsh-autosuggestions
  type: archive
  url: "https://github.com/zsh-users/zsh-autosuggestions/archive/refs/tags/v0.7.0.tar.gz"
  exact: true
  stripComponents: 1
{{- if and (eq .chezmoi.os "linux") .personal (not .ephemeral) }}
{{- $ageVersion := "1.0.0" }}
.local/bin/age:
  type: "file"
  url: "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
  executable: true
  .local/bin/age.filter:
    command: "tar"
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "age/age"]
.local/bin/age-keygen:
  type: "file"
  url: "https://github.com/FiloSottile/age/releases/download/v{{ $ageVersion }}/age-v{{ $ageVersion }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
  executable: true
  .local/bin/age-keygen.filter:
    command: tar
    args: ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "age/age-keygen"]
{{- end }}
