{{/* Use GitHub user keys to populate ~/.ssh/authorized_keys (Except in codespaces where it is already done) */}}
{{- if not .codespaces -}}
{{- range gitHubKeys .github_user -}}
{{- .Key }}
{{ end }}
{{ end }}