{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -eufo pipefail

function banner {
  if [ "${TERM}" = "dumb" ]; then
    echo ""
    echo "######## $1 ########"
    echo ""
  else
    echo ""
    echo "$(tput setaf 5)######## $1 ########$(tput sgr0)"
    echo ""
  fi
}

banner "Homebrew bootstrap"

# Install Homebrew
if [ ! "$(command -v brew)" ]; then
  if [[ ! -f "/usr/local/bin/brew" || ! -f "/opt/homebrew/bin/brew" ]]; then
    # Homebrew already installed - But path is screwed up
    export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
  else
    echo "Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
  fi
fi

export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
if [ ! "$(command -v mas)" ]; then
  brew install mas
fi

if [ "$(uname -m)" == "arm64" ]; then
  sudo softwareupdate --install-rosetta --agree-to-license
fi
{{- end -}}
