{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -eufo pipefail

script_dir="{{ .chezmoi.sourceDir }}"

function banner {
  if [ "${TERM}" = "dumb" ]; then
    echo ""
    echo "######## $1 ########"
    echo ""
  else
    echo ""
    echo "$(tput setaf 5)######## $1 ########$(tput sgr0)"
    echo ""
  fi
}

banner "macOS package install"

export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"

cd "${script_dir}" || exit

# Brewfile hashes (To rerun this script when Brewfile changes):
# Brewfile:             {{ include "Brewfile" | sha256sum }}
# Brewfile-mas:         {{ include "Brewfile-mas" | sha256sum }}
# Brewfile.home:        {{ include "Brewfile.home" | sha256sum }}
# Brewfile-mas.home:    {{ include "Brewfile-mas.home" | sha256sum }}
# Brewfile.arm64.home:  {{ include "Brewfile.arm64.home" | sha256sum }}
# Brewfile.work:        {{ include "Brewfile.work" | sha256sum }}
# Brewfile-mas.work:    {{ include "Brewfile-mas.work" | sha256sum }}

{{- if eq .desktop false }}
brew bundle --file Brewfile
{{/* brew bundle --no-lock --file Brewfile-mas */}}
{{- if eq .personal true }}
brew bundle --file Brewfile.home
{{/* brew bundle --file Brewfile-mas.home */}}
{{ if eq .chezmoi.arch "arm64" }}
# brew bundle --file Brewfile.arm64.home
# Awaiting mas fixing this before iPad apps can get installed: https://github.com/mas-cli/mas/issues/321
{{ end }}
{{- end }}
{{- if eq .personal false }}
brew bundle --file Brewfile.work
{{/* brew bundle --no-lock --file Brewfile-mas.work */}}
{{- end }}
{{- else }}
{{/* .desktop is true */}}
brew bundle --file Brewfile.macserver
{{- end }}
{{- end -}}
