{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
set -eufo pipefail

script_dir="{{ .chezmoi.sourceDir }}"

function banner {
  if [ "${TERM}" = "dumb" ]; then
    echo ""
    echo "######## $1 ########"
    echo ""
  else
    echo ""
    echo "$(tput setaf 5)######## $1 ########$(tput sgr0)"
    echo ""
  fi
}

banner "macOS package install"

# Install Homebrew
if [ ! "$(command -v brew)" ]; then
  if [[ ! -f "/usr/local/bin/brew" || ! -f "/opt/homebrew/bin/brew" ]]; then
    # Homebrew already installed - But path is screwed up
    export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
  else
    echo "Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
  fi
fi

# Install packages needed
export PATH="/usr/local/bin:/opt/homebrew/bin:$PATH"
if [ ! "$(command -v mas)" ]; then
  brew install mas
fi
{{/* mas install 497799835 || true # Xcode
sudo xcodebuild -license accept || true */}}
if [ "$(uname -m)" == "arm64" ]; then
  sudo softwareupdate --install-rosetta --agree-to-license
fi

cd "${script_dir}" || exit

# Brewfile hashes (To rerun this script when Brewfile changes):
# Brewfile:             {{ include "Brewfile" | sha256sum }}
# Brewfile:             {{ include "Brewfile-mas" | sha256sum }}
# Brewfile.home:        {{ include "Brewfile.home" | sha256sum }}
# Brewfile.home:        {{ include "Brewfile-mas.home" | sha256sum }}
# Brewfile.arm64.home:  {{ include "Brewfile.arm64.home" | sha256sum }}
# Brewfile.work:        {{ include "Brewfile.work" | sha256sum }}
# Brewfile.work:        {{ include "Brewfile-mas.work" | sha256sum }}

{{- if eq .desktop false }}
brew bundle --file Brewfile
{{/* brew bundle --no-lock --file Brewfile-mas */}}
{{- if eq .personal true }}
brew bundle --file Brewfile.home
{{/* brew bundle --file Brewfile-mas.home */}}
{{ if eq .chezmoi.arch "arm64" }}
# brew bundle --file Brewfile.arm64.home
# Awaiting mas fixing this before iPad apps can get installed: https://github.com/mas-cli/mas/issues/321
{{ end }}
{{- end }}
{{- if eq .personal false }}
brew bundle --file Brewfile.work
{{/* brew bundle --no-lock --file Brewfile-mas.work */}}
{{- end }}
{{- else }}
{{/* .desktop is true */}}
brew bundle --file Brewfile.macserver
{{- end }}
{{- end -}}