{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
set -eufo pipefail
script_dir="{{ .chezmoi.sourceDir }}"

function banner {
  if [ "${TERM}" = "dumb" ]; then
    echo ""
    echo "######## $1 ########"
    echo ""
  else
    echo ""
    echo "$(tput setaf 5)######## $1 ########$(tput sgr0)"
    echo ""
  fi
}

function info {
  if [ "${TERM}" = "dumb" ]; then
    echo "INFO: $1"
  else
    echo "$(tput setaf 2)INFO: $1$(tput sgr0)"
  fi
}

banner "Linux stuff"

if [ "$(command -v apt)" ]; then
  info "apt is already installed"
  banner "apt"
  sudo apt update -y
  PACKAGES=""
  for i in $(cat {{ .chezmoi.sourceDir }}/Aptfile); do
    PACKAGES="${PACKAGES} ${i}"
  done
  sudo apt-get -y install ${PACKAGES}
elif [ "$(command -v pacman)" ]; then
  # Arch; See more about pacman here: https://wiki.archlinux.org/title/pacman
  info "pacman is running the show"
  banner "pacman"
  sudo pacman -Suy
  PACKAGES=""
  for i in $(cat {{ .chezmoi.sourceDir }}/Pacmanfile); do
    PACKAGES="${PACKAGES} ${i}"
  done
  sudo pacman -Suy --noconfirm ${PACKAGES}
fi

banner "starship"
curl -fsSL https://starship.rs/install.sh -o install_starship.sh
chmod +x install_starship.sh
sudo ./install_starship.sh --force -y
rm ./install_starship.sh

if [ "$(command -v gh)" ]; then
  version=$(gh version)
  info "gh ${version} is already installed"
else
  info "installing gh..."
  url="https://api.github.com/repos/cli/cli/releases/latest"
  version=$(curl -sSL "${url}" | grep '"tag_name"' | sed -E 's/.*"([^"]+)".*/\1/' | cut -c2-)
  ARCH=$(uname -m)
  if [ "${ARCH}" = "aarch64" ]; then
    ARCH="arm64"
  fi
  info "will install gh version ${version}"
  url="https://github.com/cli/cli/releases/download/v${version}/gh_${version}_linux_${ARCH}.tar.gz"
  curl -sSL ${url} -o gh_${version}.tar.gz
  tar xvf gh_${version}.tar.gz
  sudo cp gh_${version}_linux_${ARCH}/bin/gh /usr/local/bin/
  sudo rm -rf gh_${version}_linux_${ARCH}*
  info "installed gh ${version}"
fi

{{- end -}}